/.idea
/vendor/
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/data/*
!app/data/.gitkeep
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/vagrant/.vagrant/
*.php~
