<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if currentTable %}{{ currentTable }}{% else %}{% trans %}Select table{% endtrans %}{% endif %} <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li role="presentation" class="dropdown-header">{% trans %}Tables{% endtrans %}</li>
        {% for table in tables.tables %}
            <li role="presentation"><a role="menuitem" href="#">{{ table }}</a></li>
        {% else %}
            <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">{% trans %}No tables found{% endtrans %}</a></li>
        {% endfor %}
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">{% trans %}Views{% endtrans %}</li>
        {% for view in tables.views %}
            <li role="presentation"><a role="menuitem" href="#">{{ view }}</a></li>
        {% else %}
            <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">{% trans %}No views found{% endtrans %}</a></li>
        {% endfor %}
    </ul>
</li>
