{% extends "MSDCoreBundle::layout.html.twig" %}
{% block content %}
    <table class="table table-striped">
        <tr>
            <th>{% trans %}sql_browser.column_header.db_name{% endtrans %}</th>
            <th>{% trans %}sql_browser.column_header.db_charset{% endtrans %}</th>
            <th>{% trans %}sql_browser.column_header.db_collation{% endtrans %}</th>
        </tr>
    {% for database in databases %}
        <tr>
            <td><a href="{{ path('msd_sql_browser_db_overview', { dbName: database.name }) }}">{{ database.name }}</a></td>
            <td>{{ database.defaultCharset }}</td>
            <td>{{ database.defaultCollation }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}