<!DOCTYPE html>
<html>
<head>
    <title>{% block pageTitle %}MySQLDumper Version 2.0.0{% endblock %}</title>
    {% stylesheets '@main_stylesheets' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
    {% javascripts '@main_javascripts' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>

<body>

{{ buildMenu() }}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

</body>
</html>